<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10">
	<parameter name="uname" value="monikacreate" />
	<parameter name="password" value="Aligarh40135*" />
	<parameter name="browsername" value="Chrome" />
	<test thread-count="1" name="TestService">
		<classes>
			<class name="Webtesting.InstagramPage" />
		</classes>
	</test>
</suite>
